[Desktop Entry]
Encoding=UTF-8
Name=KmushiCoin
Comment=KmushiCoin P2P Cryptocurrency
Comment[fr]=KmushiCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KmushiCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/kmushicoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/kmushicoin;
Categories=Office;
