# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=KTV Core Daemon SNAP
Comment=main
GenericName=KTV Digital Currency Daemon Client main network
Exec=ktv-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/ktv.png
MimeType=x-scheme-handler/ktv;
Categories=X-Office;X-Finance;
Keywords=internet;ktv;zktv;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
