# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=KTV Core
Comment=KTV Core QT test network
GenericName=KTV Digital Currency QT client testnet network
Exec=ktv-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ktv_testnet.png
MimeType=x-scheme-handler/ktv;
Categories=X-Office;X-Finance;
Keywords=internet;ktv;zktv;tktv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
