# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=KTV Core Daemon SNAP
Comment=testnet
GenericName=KTV Digital Currency Daemon Client testnet network
Exec=pivx-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/ktv_testnet.png
MimeType=x-scheme-handler/ktv;
Categories=X-Office;X-Finance;
Keywords=internet;pivx;zktv;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
